# Python virtual environment
work_project1/Lib/
work_project1/Include/
work_project1/Scripts/
work_project1/pyvenv.cfg

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/